.graph-svg-component{
    width: 3100px;
    height: 600px;
    border: solid #ddd 1px;
    background-color: rgb(245, 239, 239);
    align-items: center;
    border-radius: 5px;
    align-content: center;
}


